.fbPhotosNullstate{margin:60px auto}.fbPhotosNullstate .imageCell{padding-left:60px}.fbPhotosNullstate .textCell{height:32px}
.sp_13j1lkw4-Do{background-image:url(/rsrc.php/v3/yz/r/hOGi1Ffr2HL.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_13j1lkw4-Do.sx_cdb26e{background-position:0 0}.sp_13j1lkw4-Do.sx_b73546{background-position:0 -13px}

#bootloader_4uRY_{height:42px;}.bootloader_4uRY_{display:block!important;}